
.App{
  width: 60vh;
  margin: 15vh auto;
}

.centrar {
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.errores {
  color: red;
  text-align: center;
}
